/* Global */

body {
    font-family: 'Raleway', arial, sans-serif;
    font-size: 16px;
    color: #001d3a;
    padding: 0;
    margin: 0;
    background-color: white;
    
}

* {
    box-sizing: border-box;

}

.spacer {
    height: 5em;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.container {
    width: 98%;
    margin: 1%;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    background-color: #331a4d;
    border: none;
    color: white;
    padding: 1em 1em;
    margin-top: .75em;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1em;
}

button:hover {
    cursor: pointer;
    background-color: #4caaa7;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 2em;
    color: #001d3a;
    text-align: center;
}

h3 { 
    font-size: 1.25em;
}

.stripe {
    background-color: #4caaa735;
}

p {
    line-height: 1.3em;
}


/* Header Home */
.header { 
    background-color: #003366;
    margin: 0 0;
}

.header-text {
    margin: 0 0 -50px 0;
    text-align: center;
    color: white;
}

.header-text h1{
    font-size: 3em;
    padding: .5em 0 0 0;
    margin: 0 0;
}

.header-text h2 {
    color: white;
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 90%;
}

a {
    text-decoration: none;
    color: #001d3a;
}

.navbar {
    background-image: url('media/SA_Header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 380px;
    text-align: center;
    border-bottom: solid;
    border-color: #331a4d;
    border-width: 40px;
    margin: 0;
}

.navbar ul {
    display: inline;
    list-style: none;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 330px 0px 5px 30px;
}

.navbar a:hover{
    font-weight: bold;
    color: #4caaa7;
}

a.current {
    font-weight: bolder;
    color: #4caaa7;
}

/*main-hero*/

.hero {
   overflow: hidden;
   background-image: url(./media/cloud_background.png);
   background-repeat: repeat;
   background-position: right;
   background-position-y: -40px;
   background-size: cover;
   margin-top: -10px;
   animation: clouds 45s linear infinite;
}

.hero h2 {  
    font-size: 2.5em;
    color: #001d3a;
    text-align: left;  
}

.hero p {
    font-size: 1em;
    opacity: 80%;
    color: #001d3a; 
}

.hero-text {
    padding-top: 1em;
    float: left;
    width: 60%;
    padding-left: 2em;
}


/*section-services*/


.services {
    display: flex;
    justify-content: space-evenly;
}

.service {
    text-align: center;
    margin: 10px auto;
    padding: 0px;
    width: 20%;
}

.service img {
    height: 120px;
    margin: 0 auto;
}

/*section-contact*/

#contact-head {
    margin: 1em 0 0 0;
    padding: 1em;
    text-align: center;
}

#contact-head h2 {
    margin: 1em auto;
    padding: 0 0;
   
}

#contact-head p {
    margin: 0 0;
    padding: 1em 1em;
    
}

.contact-box {
    margin: 0 0;
    padding: 0 0;
    display: flex;
    justify-content: center;
}

#contact-card {
    margin: 0 0 0 0;
    padding: 1.5em 0 0 0;
    text-align: center;
    width: 35%;     
}

#contact-card a:hover {
    text-decoration: underline;
    color: #4caaa7;
}

#contact-pic img {
    height: 200px;
    margin: 0 auto;
    padding-top: 1em;     
}

span {
    font-size: 1.2em;
    font-weight: bold;
}
 

/*footer*/

footer { 
    padding: 20px;
    height: 150px;
    margin: auto;
    color: white;
    background-color: #66000A;
    text-align: center;
    width: 100%;
    position: absolute;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    text-emphasis: bold;
    color: #4caaa7;
}

/*End Home Page -- Begin Secondary Pages*/
/*Header*/

.secondary .header {
    background-image: none;
    background-color: #003366;
    width: 100%;
    height: 100px;
    border-bottom: solid;
    border-color: #331a4d;
    border-width: 10px;
    margin: 0;
    padding: 0;
}

#logo {
    margin: 10px 0px 20px 10px;
}
    
#logo a {
    color: white;
    font-size: 2em;
}

.secondary .navbar {
    background-image: none;
    margin: 0;
    border: none;
    height: auto;
}

.secondary .navbar a {
    margin: 0px 0px;
    padding: 0px .5em;
}

.secondary .navbar ul {
    padding: 0 0;
    margin: 1em 0px 0px 0px;
    float: right;
}

.secondary .navbar li {
    display: inline;
}

.secondary h1 {
    font-size: 2.5em;
}


/*SECONDARY PAGES*/


    
.secondary-background {
    background-image: url('./media/secondary_background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 0;
    padding: 0 0;
    z-index: 999;
   
}

.secondary-no-background {
    margin: 0 0;
    padding: 0 0;
    z-index: 999;
    display: flex;
}

#skyline-spacer {
    height: 200px;
}

.service-list b {
    font-size: 1.25em;
}

.service-list {
   float: left;
   width: 80%;
   margin: 0 0;
   padding: 2em 1em;
   
}

.submit-order, .contact-now  {
   margin: 1em 1em;
   padding: 0 0;
}

.contact-now {
    margin: 0 0;
}

.order-now {
    position: relative;
    width: 100%;
    float: left;
    padding: 1em;
    text-align: center;
    margin: 2em 2em 2em auto;
    border: #326600;
    border-width: 5px;
    border-style: solid;
    height: min-content;
}

.order-now button {
    margin-bottom: 1.5em;
}

iframe {
    position: relative;
}

.secondary button {
    background-color: #326600;
}

.secondary button:hover {
    cursor: pointer;
    background-color: #4caaa7;
}

.service-list em:hover {
    background-color: #4caaa7
}

.order-text {
    margin: 1em;
    padding: 1em;
    background-color: #ffffff99;
}


.tree-line {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

.tree-line img {
    height: 50px;
    margin: 1em auto;
    padding: 0 0;
    
}

/*Media Queries */



@media screen and (max-width: 768px) {

    .navbar {
        background-image: url('./media/SA_Header_600.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 380px;
    }

    .services, .contact {
        display: block;
        margin: 0 auto;
                     
    }
        
    .service {
        width: 90%;
    }
        
         
    .secondary-background {
        background-image: url('./media/secondary_background_600.png');
        background-position: center;
        
    }

    .contact-box {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

   #contact-card {
       width: 100%;
    }

   .hero, .secondary-background, .secondary-no-background, .service-list, .order-now, .submit-order {
        display: block;
    }

    .hero-text, .secondary-background, .secondary-no-background, .submit-order {
        float: none;
        padding: 1em;
        text-align: center;
    }

    .hero-text {
        width: 100%;
        padding: 0 0;
        margin: 0 auto;
    }

    .order-now {
        float: none;
        margin: 0 auto;
        width: 80%;
    }
    
    .service-list {
        float: none;
        margin: 2em 0;
        padding: 0 0;
        width: 98%;
        text-align: center;
    }

    .hero-text h2 {
        text-align: center;
    }

    .service-list ul {
        text-align: left;
    }

    #contact-pic {
       margin: 0 auto;
    }
   
    .submit-order iframe, .contact-now iframe {
        width: 480px;
        margin: 0 auto;
        padding: 0 0;
        max-width: 100vw;
    }
  

    #skyline-spacer {
        height: 150px;
    }
    

}

@media screen and (max-width: 500px) {
    .header-text {
        text-align: center;
        color: white;
        margin: 0 0;
    }
        
    .header-text h1{
        font-size: 3em;
    }
        
    .header-text h2 {
        color: white;
        font-size: 1.25em;
        font-style: italic;
        text-transform: capitalize;
        opacity: 90%;
    }
        
    .navbar {
        height: 200px;
        border-bottom-width: 10px;
        background-position: cover;
    }
    
    .navbar-menu {     
        margin: 0 .35em;
        padding-top: 140px; 
    }
    
    .navbar-menu ul {
        display: inline;
    }
    
    .navbar-menu a {
        margin: 0 10px 0 10px;
        padding: 10px 0px 0px 0px;
        font-size:1.25em;
    }
    
    #contact-pic img {
        margin: 0 auto;
        height: 150px;
    }
            
    .secondary .navbar a {
        margin: 0px 0px;
        padding: 10px 10px 0px 0px;
        font-size: 1.25em;
    }
        
    .submit-order iframe, .contact-now iframe {
        width: 325px;
        margin: 0 0;
        padding: 0 0;
        max-width: 100vw;
    }
    
    .order-now, .submit-order, .contact-now {
        display: block;
        margin: 0 auto;
        padding: 0 0;
    }

    #skyline-spacer {
        height: 120px;
    }

    .tree-line {
        width: 75%;
        margin: 0 auto;
        justify-content: center;
    }
    
    .tree-line img {
        height: 50px;
        margin: 1em auto;
        padding: 0 0;
        
    }
}

  @media screen and (min-width: 768px) {
    .hero-text {
        width: 55%;
    }

   #startbutton {
        display: flex;
        justify-content: left;
    }     
   
    
    
}
    
@media screen and (min-width: 1024px) {
    .hero-text p {
        font-size: 2em;
        margin-top: -20px;
    }
    
}

@media screen and (min-width: 1200px) {
    
}

@keyframes clouds {
    0%{background-position: right}
    100%{background-position: left}
}



@supports (-webkit-touch-callout: none) {
    .secondary-background {
        background-image: none;
    }
  }