/* Global */

body {
    font-family: 'Raleway', arial, sans-serif;
    font-size: 16px;
    color: #001d3a;
    padding: 0;
    margin: 0;
    background-color: white;
    
}
* {
    box-sizing: border-box;

}


.spacer {
    height: 5em;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.container {
    width: 98%;
    margin: 1%;
}

.button {
    display: flex;
    justify-content: center;
}

button {
  background-color: #331a4d;
  border: none;
  color: white;
  padding: 15px 20px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1em;
}

button:hover {
    cursor: pointer;
    background-color: #4caaa7;
}

h1 {
    margin: 0;
    
}

h2 {
    font-size: 2em;
    color: #001d3a;
    text-align: center;
}
h3 { 
    font-size: 1.25em;
}



/* Header Home */
.header { 
    background-color: #003366;
    margin: 0 0;
}

.header-text {
    margin: 0 0 -50px 0;
    text-align: center;
    color: white;
    }

.header-text h1{
    font-size: 3em;
    padding-top: 20px;
    margin: 0 0;
}

.header-text h2 {
    color: white;
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 90%;

}

a {
    text-decoration: none;
    color: #001d3a;
}

.navbar {
    background-image: url('media/SA_Header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 380px;
    text-align: center;
    border-bottom: solid;
    border-color: #331a4d;
    border-width: 40px;
    margin: 0;
     
    }

.navbar ul {
    display: inline;
    list-style: none;
    }

.navbar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 330px 0px 5px 30px;
    
}

.navbar a:hover{
    font-weight: bold;
    color: #4caaa7;
  
}
a.current {
    font-weight: bolder;
    color: #4caaa7;
    }

/*main-hero*/

.hero {
   overflow: hidden;
   background-image: url(./media/cloud_background.png);
   background-repeat: repeat;
   background-position: right;
   background-position-y: -40px;
   background-size: cover;
   margin-top: -10px;
   animation: clouds 45s linear infinite;
}

.hero h2 {  
    font-size: 2.5em;
    color: #001d3a;
    text-align: left;  
    
    }

.hero p {
    font-size: 1em;
    opacity: 80%;
    color: #001d3a; 
}

.hero-text {
    padding-top: 10px;
    float: left;
    width: 50%;
    padding-left: 20px;
   
    }

/*section-services*/


.services {
    display: flex;
    justify-content: space-evenly;
    }

.service {
    text-align: center;
    margin: 10px auto;
    padding: 0px;
    width: 20%;
    
}
.service img {
    height: 120px;
    margin: 0 auto;
    
}

/*section-contact*/

.contact-head {
    margin: 20px 10px;
    padding: 10px;
}

.contact-head h2 {
    margin: 0;
    padding: 0px;
    text-align: left;
}

.contact-box {
    margin: 10px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

#contact-card {
    margin: 0 0;
    padding-top: 1.5em;
    text-align: center;
    width: 35%;     
}

#contact-card a:hover {
    text-decoration: underline;
    color: #4caaa7;
}

#contact-pic img {
    height: 200px;
    margin: 0 0;       
}

span {
    font-size: 1.2em;
    font-weight: bold;
}
 

/*footer*/

footer { 
    padding: 20px;
    height: 150px;
    margin: auto;
    color: white;
    background-color: #66000A;
    text-align: center;
    width: 100%;
    position: absolute;
}


/*End Home Page -- Begin Secondary Pages*/
/*Header*/

.secondary .header {
    background-image: none;
    background-color: #003366;
    width: 100%;
    height: 100px;
    border-bottom: solid;
    border-color: #331a4d;
    border-width: 10px;
    margin: 0;
    padding: 0;
}

#logo {
    margin: 10px 0px 20px 10px;
}
    
#logo a {
    color: white;
    font-size: 2em;
}

.secondary .navbar {
    background-image: none;
    margin: 0;
    border: none;
    height: auto;
}

.secondary .navbar a {
    margin: 0px 0px;
    padding: 0px 15px;
}

.secondary .navbar ul {
    padding: 0;
    margin: 10px 0px 0px 0px;
    float: right;
    
}
.secondary .navbar li {
    display: inline;
}



/*PAGES - Services and Order*/


.secondary-background {
    background-image: url('./media/secondary_background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 0;
    padding: 0 0;
    z-index: 999;
    display: flex;
    
}

.service-list b {
    font-size: 1.25em;
    }

.service-list {
   float: left;
   width: 100%;
   margin: 30px 30px;
   padding: 20px 10px;
   background-color: #feffff35;
}

.submit-order {
   margin: 30px 10px;
   padding: 20 10px;
   background-color: #feffff35;
}

.submit-order {
    height: 1800px;
}

.order-now {
    position: relative;
    width: 100%;
    float: left;
    padding: 10px;
    text-align: center;
    padding-bottom: 30px;
    margin: 1em;
    height: 800px;
   }

iframe {
    position: relative;
}

.secondary button {
    background-color: #326600;
}

.secondary button:hover {
    cursor: pointer;
    background-color: #4caaa7;
}



/*Media Queries */



@media screen and (max-width: 700px) {

    .navbar {
        background-image: url('./media/SA_Header_600.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 380px;
    }

    .services, .contact {
        display: block;
        margin: auto;
                     
    }
        
    .service {
        width: 90%;
    }
        
    .contact-box {
        display: block;
        text-align: center;
    }
        
    #contact-card {
        width: 90%;
    }

    #contact-pic img {
        margin: auto auto;
    }
        
    .secondary-background {
        background-image: url('./media/secondary_background_600.png');
        background-position: center;
    }

    
   .hero, .secondary-background, .service-list, .order-now, .submit-order {
        display: block;
        
    }
    .hero-text, .secondary-background, .order-now, .submit-order {
        float: none;
        margin: 10px;
        padding: 10px;
        width: 98%;
        text-align: center;
        }
    
    .service-list {
        float: none;
        margin: 30px 0;
        padding: 0 0;
        width: 98%;
        text-align: center;
    }
    .hero-text h2 {
        text-align: center;
    }

    .service-list ul {
        text-align: left;
    }

    #contact-pic {
        height: 150px;
        margin: 0 auto;
    }
   
    .submit-order iframe, .order-now iframe {
        width: 420px;
    }
     
    

}

@media screen and (max-width: 455px) {
    .header-text {
        text-align: center;
         color: white;
        margin: 0 0;
    }
        
    .header-text h1{
         font-size: 3em;
    }
        
    .header-text h2 {
        color: white;
        font-size: 1.25em;
        font-style: italic;
        text-transform: capitalize;
        opacity: 90%;
        
    }
        
    .navbar {
        height: 200px;
        border-bottom-width: 10px;
        background-position: cover;
    }
    
    .navbar-menu {     
        margin: 0 .35em;
        padding-top: 140px; 
    }
    
    .navbar-menu ul {
        display: inline;
                        
    }
    
    .navbar-menu a {
        margin: 0 10px 0 10px;
        padding: 10px 0px 0px 0px;
        font-size:1.25em;
    }
    
    #contact-pic img {
        margin: 0;
        height: 150px;
    }
            
    .secondary .navbar a {
        margin: 0px 0px;
        padding: 10px 10px 0px 0px;
        font-size: 1.25em;
    }
        
    .submit-order iframe, .order-now iframe {
        width: 325px;
    }
    
    .order-now, .submit-order {
        margin: 0 0;
        padding: 0 0;
        width: 98%;
    }
}

  @media screen and (min-width: 700px) {
    .hero-text {
        width: 55%;
    }
   #startbutton {
        display: flex;
        justify-content: left;
    }     
   
}
    
@media screen and (min-width: 1000px) {
    .hero-text p {
        font-size: 2em;
        margin-top: -20px;
    }
}

@media screen and (min-width: 1200px) {
   .hero {
        animation: clouds 0s linear infinite;
   }
}

@keyframes clouds {
    0%{background-position: right}
    100%{background-position: left}
}

